<!--
<form action="/users" method="post" accept-charset="UTF-8">
Username: <input type="text" name="username"><br> <br>

Email: <input type="email" name="email"><br><br>

Password: <input type="password" name="password"><br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
-->

<%= form_with(model: @user, local: true) do |form| %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
